**CRIANDO A BASE DE DADOS DESAFIO**

In [58]:
CREATE DATABASE Desafio

**CRIANDO AS TABELAS DIMENSÃO**

In [59]:
USE Desafio

In [60]:
--- Criando a tabela dimensão Cidade
CREATE TABLE Cidade
(     
	ID_Cidade INT PRIMARY KEY NOT NULL, 
	Nome_Cidade  VARCHAR(60) NOT NULL,
    UF VARCHAR(2)
 ) ;

In [61]:
--- Criando a tabela dimensão Vendedores
CREATE TABLE Vendedores
(     
	ID_Vendedor INT PRIMARY KEY NOT NULL, 
	Nome_Vended  VARCHAR(60) NOT NULL,
    salario DECIMAL(10, 2)
 ) ;

In [62]:
--- Criando a tabela dimensão Categoria
CREATE TABLE Categoria
(     
	ID_Categoria INT PRIMARY KEY NOT NULL, 
	Nome_Categor VARCHAR(20) NOT NULL
 ) ;

In [63]:
--- Criando a tabela dimensão Unidade
CREATE TABLE Unidade
(     
	ID_Unidade VARCHAR(3) PRIMARY KEY NOT NULL, 
	Desc_Unidade VARCHAR(25) NOT NULL
 ) ;

In [64]:
--- Criando a tabela dimensão Cliente
CREATE TABLE Cliente
( 
	ID_Cliente INT PRIMARY KEY NOT NULL, 
	Nome_Cliente  VARCHAR(60) NOT NULL,
    Endereco  VARCHAR(60) NOT NULL,
    Numero VARCHAR(10) NOT NULL, 
    ID_Cidade INT NOT NULL, 
    Cep VARCHAR(9)      
) ;

In [65]:
ALTER TABLE Cliente
ADD FOREIGN KEY (ID_Cidade) REFERENCES Cidade(ID_Cidade);

In [66]:
--- Criando a tabela dimensão Produtos
CREATE TABLE Produtos
( 
	ID_Prod INT PRIMARY KEY NOT NULL,
	Nome_Prod  VARCHAR(50) NOT NULL,
    ID_Categoria  INT NOT NULL,
    ID_Unidade VARCHAR(3) NOT NULL,
    Preco DECIMAL(10, 2)      
) ;

In [67]:
ALTER TABLE Produtos
ADD FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria);

ALTER TABLE Produtos
ADD FOREIGN KEY (ID_Unidade) REFERENCES Unidade(ID_Unidade);

**CRIANDO TABELAS FATO**

In [68]:
--- Criando a tabela fato Vendas
CREATE TABLE Vendas
( 
	Num_Vend INT PRIMARY KEY NOT NULL,
	Data_Ven datetime,
    ID_Cliente  INT NOT NULL,
    ID_Vendedor INT NOT NULL,
    Status VARCHAR(1)      
) ;

In [69]:
ALTER TABLE Vendas
ADD FOREIGN KEY (ID_Cliente) REFERENCES Cliente(ID_Cliente);

ALTER TABLE Vendas
ADD FOREIGN KEY (ID_Vendedor) REFERENCES Vendedores(ID_Vendedor);

In [70]:
--- Criando a tabela fato Venda_Itens
CREATE TABLE Venda_Itens
( 
	Num_Ve INT NOT NULL,
    Num_Se INT NOT NULL,
    ID_Prod  INT NOT NULL,
    QTDE DECIMAL(10, 2) NOT NULL,
    Val_Uni DECIMAL(10, 2),
    Val_Tot DECIMAL(10, 2)    
) ;

ALTER TABLE Venda_Itens ADD PRIMARY KEY (Num_Ve, Num_se);

In [71]:
ALTER TABLE Venda_Itens
ADD FOREIGN KEY (Num_Ve) REFERENCES Vendas(Num_Vend);

ALTER TABLE Venda_Itens
ADD FOREIGN KEY (ID_Prod) REFERENCES Produtos(ID_Prod);