**CRIANDO A BASE DE DADOS DW\_46**

In [1]:
CREATE DATABASE DW_46

**ACESSANDO A BASE DE DADOS PARA CRIAR TABELAS**

In [12]:
USE DW_46

**CRIANDO A TABELA LOG\_ CARGAS**

In [13]:
--CRIANDO TABELA DE LOG
IF NOT EXISTS
 (SELECT * FROM sysobjects WHERE name='LOG_CARGAS' AND xtype='U')

CREATE TABLE LOG_CARGAS
 (ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
 NUMERO_ERRO INT,
 SERVERIDADE_ERRO INT,
 ESTADO_ERRO  INT,
 PROC_ERRO NVARCHAR(255),
 LINHA_ERRO INT,
 MSG_ERRO NVARCHAR(255),
 SITUACAO NVARCHAR(10),
 PROCESSO NVARCHAR(30),
 DATA_INI DATETIME,
 DATA_FIM DATETIME  
 )
 GO

**CRIANDO A TABELA STAGING "STG\_VENDAS"**

In [37]:
-- CRIANDO TABELA STAGING
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='STG_VENDAS' AND xtype='U')
CREATE TABLE [dbo].[STG_VENDAS](
	[Segmento] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Produto] [varchar](50) NULL,
	[Tipo_Desconto] [varchar](50) NULL,
	[Qtde_Vendas] [varchar](50) NULL,
	[Preco_custo] [varchar](50) NULL,
	[Preco_venda] [varchar](50) NULL,
	[Vendas_Bruta] [varchar](50) NULL,
	[Desconto] [varchar](50) NULL,
	[Vendas] [varchar](50) NULL,
	[Custo_venda] [varchar](50) NULL,
	[Lucro] [varchar](50) NULL,
	[Data_venda] [varchar](50) NULL
) ON [PRIMARY]
GO

**CRIANDO TABELAS DIMENSÕES**

In [5]:
---CRIANDO DIMENSÃO SEGMENTO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_SEGMENTO' AND xtype='U')
CREATE TABLE [dbo].[D_SEGMENTO](
    	[Id_Segmento] [int] IDENTITY(1,1) NOT NULL,
	[NOME_Segmento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Segmento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [6]:
---CRIANDO DIMENSÃO Pais
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_PAIS' AND xtype='U')
CREATE TABLE [dbo].[D_PAIS](
    	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[NOME_pais] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [7]:
---CRIANDO DIMENSÃO PRODUTO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_Produto' AND xtype='U')
CREATE TABLE [dbo].[D_Produto](
    	[Id_Produto] [int] IDENTITY(1,1) NOT NULL,
	[NOME_Produto] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

In [8]:
---CRIANDO DIMENSÃO Tipo_DES
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='D_TIPO_DES' AND xtype='U')
CREATE TABLE [dbo].[D_TIPO_DES](
    	[Id_Tipo_des] [int] IDENTITY(1,1) NOT NULL,
	[NOME_Tipo_des] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_des] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

**CRIANDO TABELA FATO**

In [9]:
---CRIANDO TABELA FATO Qtde Vendas
CREATE TABLE Qtde_Vendas
( 
	Num_Vend INT NOT NULL,
	ID_Qtde_Vendas INT PRIMARY KEY NOT NULL      
) ;

In [10]:
---CRIANDO TABELA FATO Preco de custo
CREATE TABLE Preco_custo
( 
	ID_Preco_custo INT PRIMARY KEY NOT NULL,
    Val_custo DECIMAL(10, 2) NOT NULL      
) ;

In [11]:
---CRIANDO TABELA FATO Preco de venda
CREATE TABLE Preco_venda
( 
	ID_Preco_venda INT PRIMARY KEY NOT NULL,
    Val_venda DECIMAL(10, 2) NOT NULL      
) ;

In [12]:
---CRIANDO TABELA FATO Vendas Bruta
CREATE TABLE Vendas_Bruta
( 
	ID_Vendas_Bruta INT PRIMARY KEY NOT NULL,
    Val_Vendas_Bruta DECIMAL(10, 2) NOT NULL      
) ;

In [13]:
---CRIANDO TABELA FATO Vendas
CREATE TABLE Vendas
( 
	ID_Vendas INT PRIMARY KEY NOT NULL,
    Val_Vendas DECIMAL(10, 2) NOT NULL      
) ;

In [14]:
---CRIANDO TABELA FATO Custo da Lucro
CREATE TABLE Lucro
( 
	ID_Lucro INT PRIMARY KEY NOT NULL,
    Val_Lucro DECIMAL(10, 2) NOT NULL      
) ;

In [15]:
---CRIANDO TABELA FATO Custo da venda
CREATE TABLE Custo_venda
( 
	ID_Custo_venda INT PRIMARY KEY NOT NULL,
    Val_Custo_venda DECIMAL(10, 2) NOT NULL      
) ;

In [16]:
---CRIANDO TABELA FATO Desconto
CREATE TABLE Desconto
( 
	ID_Desconto INT PRIMARY KEY NOT NULL,
    Val_Desconto DECIMAL(10, 2) NOT NULL      
) ;

In [17]:
---CRIANDO TABELA FATO Data venda
CREATE TABLE Data_venda
( 
	ID_Data_venda INT PRIMARY KEY NOT NULL,
    Data_venda DATETIME NOT NULL      
) ;

**CARREGANDO E MESCLANDO** **AS TABELAS DIMENSÃO COM A TABELA STAGIN**

In [3]:

BEGIN TRANSACTION;  
	DECLARE @VDATA_INI DATETIME;
	SET @VDATA_INI= GETDATE();
BEGIN TRY  

MERGE D_SEGMENTO AS Destino

USING (SELECT DISTINCT SEGMENTO FROM STG_VENDAS) AS Origem

ON Destino.NOME_Segmento = Origem.SEGMENTO

-- Há registro no destino e na origem
WHEN MATCHED 

THEN 
    UPDATE SET NOME_Segmento = Origem.SEGMENTO

--Quando não há registro no destino e há na origem
WHEN NOT MATCHED 

THEN 
    INSERT (NOME_Segmento) VALUES (Origem.SEGMENTO);

   END TRY  
BEGIN CATCH
 	IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 

INSERT INTO [dbo].[LOG_CARGAS]
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'ERRO',
        'CARGA SEGMENTO',
		@VDATA_INI,
		GETDATE()
		)

        
END CATCH;  

INSERT INTO LOG_CARGAS
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'SUCESSO',
       'CARGA SEGMENTO',
		@VDATA_INI,
		GETDATE()
		)

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;  
GO

In [39]:
BEGIN TRANSACTION;  
	DECLARE @VDATA_INI DATETIME;
	SET @VDATA_INI= GETDATE();
BEGIN TRY  

MERGE D_PAIS AS Destino

USING (SELECT DISTINCT Pais FROM STG_VENDAS) AS Origem

ON Destino.NOME_pais = Origem.Pais

-- Há registro no destino e na origem
WHEN MATCHED 

THEN 
    UPDATE SET NOME_pais = Origem.Pais

--Quando não há registro no destino e há na origem
WHEN NOT MATCHED 

THEN 
    INSERT (NOME_pais) VALUES (Origem.Pais);

   END TRY  
BEGIN CATCH
 	IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 

INSERT INTO [dbo].[LOG_CARGAS]
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'ERRO',
        'CARGA PAIS',
		@VDATA_INI,
		GETDATE()
		)

        
END CATCH;  

INSERT INTO LOG_CARGAS
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'SUCESSO',
       'CARGA PAIS',
		@VDATA_INI,
		GETDATE()
		)

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;  
GO

In [5]:
BEGIN TRANSACTION;  
	DECLARE @VDATA_INI DATETIME;
	SET @VDATA_INI= GETDATE();
BEGIN TRY  

MERGE D_Produto AS Destino

USING (SELECT DISTINCT PRODUTO FROM STG_VENDAS) AS Origem

ON Destino.NOME_Produto = Origem.PRODUTO

-- Há registro no destino e na origem
WHEN MATCHED 

THEN 
    UPDATE SET NOME_Produto = Origem.PRODUTO

--Quando não há registro no destino e há na origem
WHEN NOT MATCHED 

THEN 
    INSERT (NOME_Produto) VALUES (Origem.PRODUTO);

   END TRY  
BEGIN CATCH
 	IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 

INSERT INTO [dbo].[LOG_CARGAS]
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'ERRO',
        'CARGA PRODUTO',
		@VDATA_INI,
		GETDATE()
		)

        
END CATCH;  

INSERT INTO LOG_CARGAS
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'SUCESSO',
       'CARGA PRODUTO',
		@VDATA_INI,
		GETDATE()
		)

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;  
GO

In [20]:
BEGIN TRANSACTION;  
	DECLARE @VDATA_INI DATETIME;
	SET @VDATA_INI= GETDATE();
BEGIN TRY  

MERGE D_TIPO_DES AS Destino

USING (SELECT DISTINCT Tipo_Desconto FROM STG_VENDAS) AS Origem

ON Destino.NOME_Tipo_des = Origem.Tipo_Desconto

-- Há registro no destino e na origem
WHEN MATCHED 

THEN 
    UPDATE SET NOME_Tipo_des = Origem.Tipo_Desconto

--Quando não há registro no destino e há na origem
WHEN NOT MATCHED 

THEN 
    INSERT (NOME_Tipo_des) VALUES (Origem.Tipo_Desconto);

   END TRY  
BEGIN CATCH
 	IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 

INSERT INTO [dbo].[LOG_CARGAS]
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'ERRO',
        'CARGA TIPO DESCONTO',
		@VDATA_INI,
		GETDATE()
		)

        
END CATCH;  

INSERT INTO LOG_CARGAS
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
		   [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'SUCESSO',
       'CARGA TIPO DESCONTO',
		@VDATA_INI,
		GETDATE()
		)

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;  
GO

**CRIANDO A TABELA FATO\_VENDA**

In [21]:
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='FATO_VENDA' AND xtype='U')
CREATE TABLE FATO_VENDA
(
id_Segmento  [int] NULL,
id_Pais  [int] NULL,
id_Produto  [int] NULL,
id_Tipo_Des  [int] NULL,
Qtd_Vendas DECIMAL(10,2) NULL,
Preco_Custo DECIMAL(10,2) NULL,
Preco_Venda DECIMAL(10,2) NULL,
Vendas_Bruta DECIMAL(10,2) NULL,
Vendas DECIMAL(10,2) NULL,
Custo_venda DECIMAL(10,2) NULL,
Desconto DECIMAL(10,2) NULL,
Lucro DECIMAL(10,2) NULL,
Data_venda DATE
)

**CARREGANDO E MESCLANDO A TABELA CARGA FATO**

In [32]:
BEGIN TRANSACTION;  
   DECLARE @VDATA_INI DATETIME;
    DECLARE @VPROCESSO VARCHAR(30);
    SET @VDATA_INI= GETDATE();
    SET @VPROCESSO= 'CARGA FATO'
BEGIN TRY  


MERGE FATO_VENDA AS Destino

USING (
SELECT b.ID_Segmento,
       c.ID_Pais,
       d.ID_Produto,
       e.Id_Tipo_Des,
       CAST(REPLACE(a.Qtde_Vendas,',','.') AS decimal(10,2)) AS Qtd_Vendas,
       CAST(REPLACE(a.Preco_Custo,',','.') AS decimal(10,2))AS Preco_Custo,
       CAST(REPLACE(a.Preco_Venda,',','.') AS decimal(10,2)) AS Preco_Venda,
       CAST(REPLACE(a.Vendas_Bruta,',','.') AS decimal(10,2))AS Vendas_Bruta,
       CAST(REPLACE(a.Vendas,',','.') AS decimal(10,2)) AS Vendas,
       CAST(REPLACE(a.Custo_venda,',','.') AS decimal(10,2))AS Custo_venda,
       CAST(REPLACE(a.Desconto,',','.') AS decimal(10,2)) AS Desconto,
       CAST(REPLACE(a.Lucro,',','.') AS decimal(10,2))AS Lucro,
       CAST(a.Data_venda AS DATE) AS Data_venda
  FROM STG_VENDAS a
   LEFT JOIN D_SEGMENTO b
	ON a.SEGMENTO=B.NOME_Segmento

   LEFT JOIN D_PAIS c
	ON a.PAIS=c.NOME_pais

  LEFT JOIN D_Produto d
	ON a.PRODUTO=D.NOME_Produto

  LEFT JOIN D_TIPO_DES e
	ON a.Tipo_Desconto=E.NOME_Tipo_des
) AS origem 
   ON Destino.Data_venda = Origem.Data_venda

-- Há registro no destino e na origem
WHEN MATCHED 

THEN 
    UPDATE SET  ID_Segmento=origem.ID_Segmento, 
                ID_Pais=origem.ID_Pais,
                ID_Produto=origem.ID_Produto,
                Id_Tipo_Des=origem.Id_Tipo_Des,
                Qtd_Vendas=origem.Qtd_Vendas,
                Preco_Custo=origem.Preco_Custo,
                Preco_Venda=origem.Preco_Venda,
                Vendas_Bruta=origem.Vendas_Bruta,
                Vendas=origem.Vendas,
                Custo_venda=origem.Custo_venda,
                Desconto=origem.Desconto,
                Lucro=origem.Lucro
                
--Quando não há registro no destino e há na origem

WHEN NOT MATCHED 

THEN 
   INSERT  
           (ID_Segmento,
           ID_Pais,
           ID_Produto,
           Id_Tipo_Des,
           Qtd_Vendas,
           Preco_Custo,
           Preco_Venda,
           Vendas_Bruta,
           Vendas,
           Custo_venda,
           Desconto,
           Lucro)
     VALUES
           (origem.ID_Segmento,
           origem.ID_Pais,
           origem.ID_Produto,
           origem.Id_Tipo_Des,
           origem.Qtd_Vendas,
           origem.Preco_Custo,
           origem.Preco_Venda,
           origem.Vendas_Bruta,
           origem.Vendas,
           origem.Custo_venda,
           origem.Desconto,
           origem.Lucro);

END TRY  
BEGIN CATCH
   IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 

INSERT INTO [dbo].[LOG_CARGAS]
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
         [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'ERRO',
        @VPROCESSO,
      @VDATA_INI,
      GETDATE()
      )

        
END CATCH;  

INSERT INTO LOG_CARGAS
           ([NUMERO_ERRO],
           [SERVERIDADE_ERRO],
           [ESTADO_ERRO],
           [PROC_ERRO],
           [LINHA_ERRO],
           [MSG_ERRO],
           [SITUACAO],
           [PROCESSO],
           [DATA_INI],
           [DATA_FIM])
     VALUES
        (ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE() ,
        ERROR_MESSAGE() ,
        'SUCESSO',
        @VPROCESSO,
      @VDATA_INI,
      GETDATE()
      )

IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;  
GO